body{ background-color: rgb(181, 210, 255);
    text-align: center;}
    h1{
        color: rgb(177, 140, 211);
    }
    
     strong{
        color: rgb(130, 130, 211);
     }
    h1{
        font-style: oblique;
    }
    h2 {
        font-style: oblique;
    }
    p{
       font-style: inherit;
    }
.hellokittyimage {
    width: 70%;
}
.kitcentralizada {
    text-align: center;
}
